body{
  background-color: rgb(241, 197, 247);
  background-image:url("https://img.freepik.com/premium-vector/abstract-smooth-blur-pastel-color-gradient-background-website-banner-graphic-design_120819-892.jpg?w=826");
  background-attachment: fixed;
  background-size: 1500px;
}
h1{
  text-align: center;
  color: blueviolet;
}
#ernm{
  color: red;
}
#erpm{
  color: red;
}
#erdn{
  color: red;
}
#erTn {
  color: red;
}
#erpw{
  color: red;
}
#ervf{
  color: red;
}
#erel {
  color: red;
}
#ercd {
  color: red;
}
#erpdc{
  color: red;
}
#ergnd{
  color: red;
}
#erpay{
  color: red;
}